{% extends 'my_App/base.html' %}
{% block title %}
    | Home 
{% endblock %}
{% block main_content %}
    <div class="col-md-8">
        <h1 class="my-4">
          <center>Courses</center>
        </h1>
        <hr>
        <!-- Blog Post -->
        {% for course in courses %}
            <div class="card mb-4">
                <div class="card-body">
                <p class="card-text"><h2><a href="{{course.abbreviation}}" style="text-decoration: none; color:black;">{{ course.name }}</a></h2></p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
